:root {
  --primary-color: #ec7532;
  --secondary-color: #fbbd61;
}

body {
  background-color: var(--primary-color);
}

header {
  padding: 8px;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-color);
}
.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  font-size: 16px;
  padding: 4px 8px;
  color: white;
}
.search::placeholder {
  color: rgba(255, 255, 255, 0.425);
}
#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img {
  width: 100%;
}
.movie {
  width: 300px;
  margin: 8px;
  background-color: var(--secondary-color);
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.movie-info {
  padding: 10px;
}

.overview {
  background-color: white;
  padding: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(100%);
  overflow-y: auto;
  transition: transform 0.3s ease-in;
}

.movie:hover .overview {
  transform: translateY(0);
}
